/* .............................NAV BAR............................ */

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items:flex-end;
    height: 80px;
    padding: 0 20px;
}

.navbar-logo {
    margin-right: 30px;
}

.navbar-logo img {
    height: 60px;
    vertical-align: middle;
}

.profile-logo {
    margin-right: 30px;
}

.profile-logo img {
    height: 60px;
    vertical-align: middle;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #1B4F72;
    color: white;
}














 /* ..............................FOOTER.................................... */
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .contact-us a,
  .home {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .contact-us a:hover,
  .home:hover {
    color: #f1c40f;
  }
  
  @media screen and (max-width: 600px) {
    .footer-wrapper {
      flex-direction: column;
    }
  }

.b {
background-color: black;
height: 1%;
}